{% extends ('layout.html.twig') %}

{% block content %}

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('kp_homepage') }}">SilexBootstrap</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path('kp_homepage') }}">Home</a></li>
              <li><a href="https://github.com/Keirua/silex-bootstrap">On Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <article>
<h1>Silex-bootstrap</h1>

<p>Silex-bootstrap is an already setup <a href="http://silex.sensiolabs.org/">Silex</a> project. It helps you get started by providing you with everything you need for a lightweight Silex application. By the way, <a href="http://silex.sensiolabs.org/">Silex</a> is a PHP micro-framework.</p>

<p>This project embeds an HTML5Boilerplate structure with Twitterboostrap 2 for the frontend. Regarding the backend, the basics is already setup for you. There is some templating, routing, cache, controllers, basic settings and a solid directory structure.</p>

<p>It's very similar to <a href="https://github.com/lyrixx/Silex-Kitchen-Edition">Silex Kitchen Edition</a>, but with less stuff.</p> Oh, it's open source, and it's <a href="https://github.com/Keirua/silex-bootstrap">on Github</a>.

<h2>
<a name="installation" class="anchor" href="#installation"><span class="mini-icon mini-icon-link"></span></a>Installation</h2>

<p>1) Download composer : </p>

<pre><code>curl -s http://getcomposer.org/installer | php
</code></pre>

<p>2) Download the latest version of the source code and of its dependencies :</p>

<pre><code>php composer.phar create-project keirua/silex-bootstrap YourProject/
</code></pre>

<p>where YourProject/ is the directory of your future project.</p>

<p>Done ! You can now start hacking into YourProject/src/app.php. There already are 2 routes, / and /hello/plop</p>

<p>If you don't know Silex, I'm pretty sure the <a href="http://silex.sensiolabs.org/documentation">documentation</a> can be useful.</p>

<h2>
<a name="directory-structure" class="anchor" href="#directory-structure"><span class="mini-icon mini-icon-link"></span></a>Directory structure</h2>

<p>The directory structure is the following</p>

<pre><code>src/
  views/
app/
  cache/
  logs/
web/
vendor/
</code></pre>

<p><strong>src/</strong> is the root of your code. Create some routes in app.php, and put the templates in the views directory. A layout file based on HTML5Boilerplate is already there, it can be of use.</p>

<p><strong>app/</strong> contains all the settings of the application. Everything is in a file named bootstrap.php. If you want to add more service providers from Silex, do it there.</p>

<p><strong>web/</strong> contains everything which is exposed. Make sure your web server only serves this directory to people. It also contains all the public assets : css, js and images.</p>

<p><strong>vendor/</strong> contains all the dependencies of the project. The dependencies are listed in composer.json.</p></article>

      <footer>
        <p>This tool was made with love by <a href="www.keiruaprod.fr">KeiruaProd</a></p>
      </footer>

    </div> <!-- /container -->

{% endblock content %}
